In [1]:
import pandas as pd

# Задание 1.

In [2]:
# Solution by loc method.
visit_log = pd.read_csv('visit_log.csv', sep=';')
visit_log.loc[(visit_log['traffic_source'] == 'yandex') | (visit_log['traffic_source'] == 'google'), 'source_type'] = 'organic'
visit_log.loc[(visit_log['region'].str.lower() == 'russia') & ((visit_log['traffic_source'] == 'paid') | \
            (visit_log['traffic_source'] == 'email')), 'source_type'] = 'ad'
visit_log.loc[(visit_log['region'].str.lower() != 'russia') & ((visit_log['traffic_source'] == 'paid') | \
            (visit_log['traffic_source'] == 'email')), 'source_type'] = 'other'
visit_log.loc[(visit_log['traffic_source'] != 'paid') & (visit_log['traffic_source'] != 'email') & \
             (visit_log['traffic_source'] != 'yandex') & (visit_log['traffic_source'] != 'google'), \
              'source_type'] = visit_log['traffic_source']
visit_log[visit_log['traffic_source'] == 'paid'].head()


# # Solution by function.
# def get_source_type(row):
    
#     if (row['traffic_source'].lower() == 'yandex') or (row['traffic_source'].lower() == 'google'):
#         return 'organic'
#     elif (row['traffic_source'].lower() == 'paid') or (row['traffic_source'].lower() == 'email'):
#         if (row['region'].lower() == 'russia'):
#             return 'ad'
#         else:
#             return 'other'
#     else:
#         return row['traffic_source']
    

# visit_log = pd.read_csv('visit_log.csv', sep=';')
# visit_log['source_type'] = visit_log.apply(get_source_type, axis=1)
# visit_log.head()

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
6,1549980742,b0f66adc83,https://host.ru/b8b58337d272ee7b15,Russia,13fc55e781,paid,ad
12,1549980789,15ec7bf0b5,https://host.ru/8e88d4703848cc0ec4,Russia,6d1d81f7f8,paid,ad
15,1549980797,5322fecfc9,https://host.ru/4adc8a29b212051b04,Belarus,9a45d98867,paid,other
17,1549980807,0a88111852,https://host.ru/2fcb223266880ccf57,Ukraine,a2ba8fa3db,paid,other
26,1549980852,659d36ca56,https://host.ru/4adc8a29b212051b04,Russia,c4bd1ae3af,paid,ad

# Задание 2.

In [3]:
urls = pd.read_csv('URLs.txt')
pattern = r'^/{1}\w+/{1}\d{8}-{1}'
urls[urls['url'].str.contains(pattern, regex=True)].head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

# Задание 3.

In [4]:
ratings = pd.read_csv('ratings.csv')
modified_ratings = ratings.groupby(by='userId').agg({'rating': 'count',  'timestamp': ['max', 'min']})
modified_ratings.loc[modified_ratings['rating']['count'] > 100, 'diff'] = modified_ratings['timestamp']['max'] - modified_ratings['timestamp']['min']
print('Среднее время жизни пользователей с количеством оценок более 100:', int(modified_ratings['diff'].mean()), 'c')

Среднее время жизни пользователей с количеством оценок более 100: 40080507 c

# Задание 4.

In [5]:
# Data.
# rzd - железнодорожные перевозки.
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)

# auto - автомобильные перевозки.
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)

# air - воздушные перевозки.
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)

# client_base - адреса клиентов.
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)


# Solution.
df_1 = pd.merge(rzd, air, on='client_id', how='outer')
df_2 = pd.merge(auto, df_1, on='client_id', how='outer')

# Without address.
df_without_address = pd.merge(client_base['client_id'], df_2, on='client_id', how='outer').fillna(0)

# With address.
df_with_address = pd.merge(client_base, df_2, on='client_id', how='outer').fillna(0)