In [1]:
# Importing pandas.
import pandas as pd

# Задание 1.

In [2]:
def classify_movie_points(points):
    """ Returns movie rating classifictaion by the given quantity of points. """
    
    if 5 >= points > 4:
        return 'высокий рейтинг'
    elif points > 2:
        return 'средний рейтинг'
    elif 2 >= points >= 1:
        return 'низкий рейтинг'
    return 'неверные данные'


ratings_df = pd.read_csv('ratings.csv')
ratings_df['class'] = ratings_df['rating'].apply(classify_movie_points)
ratings_df.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

# Задание 2.

In [3]:
# Geo-data dictionary.
geo_data = {
        'Центр': ['москва', 'тула', 'ярославль'],
        'Северо-Запад': ['петербург', 'псков', 'мурманск'],
        'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
        }


def classify_query_by_region(query_text):
    """ Returns region if it were mentioned in the query text. """
    
    for region in geo_data:
        for city in geo_data[region]:
            if city in query_text:
                return region
    return 'undefined'


keywords_df = pd.read_csv('keywords.csv')
keywords_df['region'] = keywords_df['keyword'].apply(classify_query_by_region)
keywords_df.head()


# # Test.
# keywords_df[keywords_df['region'] != 'undefined'].head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

# Задание 3.

In [4]:
# List of years.
years = [str(year) for year in range(1950, 2011)]


def production_year(title):
    """ Returns movie production year if it were mentioned in the name of the movie. """
    
    prod_year_lst = [year for year in years if f'({year})' in title]
    return prod_year_lst[0] if len(prod_year_lst) > 0 else '1900'
    
    

movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
ratings['year'] = movies['title'].apply(production_year)

ratings_grouped = ratings.groupby(by='year')['rating'].mean().sort_values(ascending=False)
ratings_grouped.head()

year
2007    4.021569
1952    3.851852
1994    3.833333
2008    3.819838
2006    3.808429
Name: rating, dtype: float64