In [1]:
# Imports.
import pandas as pd
import numpy as np

# Задание 1.

In [2]:
horses_df = pd.read_csv('horse_data.csv', usecols=[0, 1, 3, 4, 5, 6, 10, 22],
                    names=['surgery?', 'Age', 'rectal temperature', 'pulse', 'respiratory rate', 
                    'temperature of extremities', 'pain', 'outcome'], na_values='?')
horses_df['Age'] = horses_df['Age'].replace(9, 2)
horses_df

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [3]:
# Количество лошадей.
len(pd.read_csv('horse_data.csv', usecols=[2], names=['Hospital Number'])['Hospital Number'].unique())

284

# Задание 2.

In [4]:
# Мера центральной тенденции.
print('Среднее арифметическое:')
print(horses_df.mean().round(2))
print('')
print('Медиана:')
print(horses_df.median())
print('')
print('Мода:')
print(horses_df.mode().transpose()[0])

Среднее арифметическое:
surgery?                       1.40
Age                            1.08
rectal temperature            38.17
pulse                         71.91
respiratory rate              30.42
temperature of extremities     2.35
pain                           2.95
outcome                        1.55
dtype: float64

Медиана:
surgery?                       1.0
Age                            1.0
rectal temperature            38.2
pulse                         64.0
respiratory rate              24.5
temperature of extremities     3.0
pain                           3.0
outcome                        1.0
dtype: float64

Мода:
surgery?                       1.0
Age                            1.0
rectal temperature            38.0
pulse                         48.0
respiratory rate              20.0
temperature of extremities     3.0
pain                           3.0
outcome                        1.0
Name: 0, dtype: float64

### Выводы:
1. Большинство лечений сопровождалось оперативным вмешательством.
1. В большей степени заболевали взрослые особи.
1. Заболевания сопровождались в большинстве случаев небольшим повышением ректальной температуры и температуры конечностей.
1. Отмечается повышение пульса, что в совокупности с другими фактами может свидетельствовать о шоке или о болевом синдроме.
1. Частота дыхания у большинства особей повышена, однако данный факт лучше сочетать с другими более значительными, поскольку в данном случае имеется большая склонность к флуктуациям.
1. Большая часть обследуемых лошадей имела лёгкие прерывыстые болевые ощущения.
1. Большая часть лошадей выжила \\(◕‿◕)/

In [5]:
# Мера разрбоса.
print('Стандартное отклонение:')
print(horses_df.std().round(2))
print('Дисперсия:')
print((horses_df.std()**2).round(2))

Стандартное отклонение:
surgery?                       0.49
Age                            0.27
rectal temperature             0.73
pulse                         28.63
respiratory rate              17.64
temperature of extremities     1.05
pain                           1.31
outcome                        0.74
dtype: float64
Дисперсия:
surgery?                        0.24
Age                             0.07
rectal temperature              0.54
pulse                         819.71
respiratory rate              311.25
temperature of extremities      1.09
pain                            1.71
outcome                         0.54
dtype: float64

Менее всего, очевидно, разбросаны значения, которые представлены в виде общей оценки состояния, полученной из первичных данных или из какого-либо факта. Также в целом неудивительно, что далеко разбросаны значения пульса и частоты дыхания, поскольку обе данные характеристики очень неустойчивы даже с учётом полностью здоровой особи. Разбросы температур, ректальной и конечностей, демонстрируют относительную устойчивость этой характеристики в рамках данных измерений у разных особей.

In [6]:
# Выбросы.
q1 = horses_df.quantile(0.25)
q3 = horses_df.quantile(0.75)

# Межквартильный размах.
iqr = q3 - q1

# Границы.
lower_bound = q1 - (1.5 * iqr)
upper_bound = q3 + (1.5 * iqr)

# Определяем выбросы.
# Не учитываем столбцы, в которых указаны оценочные вторичные данные.
determine_outliers = horses_df.loc[:, ['rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities']]\
                        [horses_df.apply(lambda row: (row < lower_bound) | (row > upper_bound), axis=1)].dropna(thresh=1)
determine_outliers

     rectal temperature  pulse  respiratory rate  temperature of extremities
3                   NaN  164.0              84.0                         NaN
20                 39.9    NaN               NaN                         NaN
39                  NaN    NaN              96.0                         NaN
41                  NaN  150.0              72.0                         NaN
44                 35.4    NaN               NaN                         NaN
54                 40.3    NaN               NaN                         NaN
55                  NaN  160.0               NaN                         NaN
75                 39.7    NaN               NaN                         NaN
80                 36.4    NaN               NaN                         NaN
82                  NaN    NaN              80.0                         NaN
84                  NaN    NaN              80.0                         NaN
91                 40.3    NaN               NaN                         NaN
99                 39.6    NaN               NaN                         NaN
103                 NaN    NaN              68.0                         NaN
106                 NaN    NaN              96.0                         NaN
118                36.5    NaN               NaN                         NaN
120                 NaN    NaN              66.0                         NaN
125                 NaN    NaN              68.0                         NaN
141                36.0    NaN               NaN                         NaN
186                 NaN    NaN              90.0                         NaN
208                 NaN    NaN              80.0                         NaN
229                 NaN    NaN              70.0                         NaN
238                36.1    NaN               NaN                         NaN
244                 NaN    NaN              88.0                         NaN
251                36.6    NaN               NaN                         NaN
255                 NaN  184.0              84.0                         NaN
259                40.8    NaN               NaN                         NaN
265                 NaN    NaN              68.0                         NaN
269                 NaN    NaN              90.0                         NaN
275                 NaN  150.0               NaN                         NaN
281                40.0    NaN               NaN                         NaN
295                 NaN    NaN              70.0                         NaN
298                36.5    NaN               NaN                         NaN

# Задание 3.
### При выполнении данного задания подбор значений для заполнения пустых ячеек в датафрейме выполнялся по мере центральной тенденции искомого датафрейма, то есть чем ближе величина среднего арифметического, медианы и моды заполненного столбца к тем же величинам искомого столбца, тем лучше.

In [7]:
# Создаём датафрейм для заполнения.
import copy
horses_df_filled = copy.deepcopy(horses_df)

In [8]:
# Количество пропусков в столбцах.
horses_df_filled.isnull().sum()

surgery?                       1
Age                            0
rectal temperature            60
pulse                         24
respiratory rate              58
temperature of extremities    56
pain                          55
outcome                        1
dtype: int64

Столбцы 'surgery?' и 'outcome' заполняем модой, поскольку в них отсутсвует всего лишь одно значение и сами столбцы состоят из вторичных оценок первичных данных.

In [9]:
# Столбцы 'surgery?' и 'outcome'.
horses_df_filled['surgery?'] = horses_df_filled['surgery?'].fillna(horses_df_filled['surgery?'].mode()[0])
horses_df_filled['outcome'] = horses_df_filled['outcome'].fillna(horses_df_filled['outcome'].mode()[0])

# # Проверка.
# print(horses_df_filled['surgery?'].isnull().sum())
# print(horses_df_filled['outcome'].isnull().sum())

Столбец 'pain' заполняем по группировке столбцов наличия операции и исхода лечения. В данном случае наличие боли может быть причиной оперативного вмешательства, что в свою очередь в совокупности с болью может привести к тому или иному исходу.

In [10]:
# Столбец 'pain'.
horses_df_filled['pain'] = horses_df_filled['pain'].fillna(horses_df_filled.groupby(['surgery?', 'outcome'])['pain'].transform('median'))

# # Проверка.
# print(horses_df_filled['pain'].isnull().sum())
# print(horses_df_filled['pain'].mean())
# print(horses_df_filled['pain'].median())
# print(horses_df_filled['pain'].mode()[0])

Столбец 'rectal temperature' заполняем группировкой датафрейма по болевому синдрому и наличию оперативного вмешательства. Из наличия боли следует выполнение оперативного лечения, что в свою очередь связано с повышением температуры.

In [11]:
# Подбор.
rec_temp_ds = horses_df_filled['rectal temperature'].fillna(horses_df_filled.groupby(['pain', 'surgery?'])['rectal temperature'].transform('median'))
print(rec_temp_ds.mean())
print(rec_temp_ds.median())
print(rec_temp_ds.mode()[0])

38.15550000000001
38.2
38.0

In [12]:
# Столбец 'rectal temperature'.
horses_df_filled['rectal temperature'] = horses_df_filled['rectal temperature'].fillna(horses_df_filled.groupby(['pain', 'surgery?'])['rectal temperature'].transform('median'))

# # Проверка.
# print(horses_df_filled['rectal temperature'].isnull().sum())

Столбец 'temperature of extremities' заполняем группировкой датафрейма по болевому синдрому и ректальной температуре. Взаимосвязь температур очевидна, а болевой синдром может сопровождаться изменением температуры.

In [13]:
# Подбор.
temp_extr_ds = horses_df['temperature of extremities'].fillna(horses_df.groupby(['pain', 'rectal temperature'])['temperature of extremities'].transform('median'))
print(temp_extr_ds.mean())
print(temp_extr_ds.median())
print(temp_extr_ds.mode()[0])

2.3490196078431373
3.0
3.0

In [14]:
# Столбец 'temperature of extremities'.
horses_df_filled['temperature of extremities'] = horses_df_filled['temperature of extremities'].fillna(horses_df_filled.groupby(['pain'])['temperature of extremities'].transform('median'))

# # Проверка.
# print(horses_df_filled['temperature of extremities'].isnull().sum())

Столбец 'pulse' заполняем по болевым ощущениям, возрасту и наличию оперативного вмешательства. Пульс чувствителен к возрасту и боли, а также наличие операции может свидетельствовать о тяжелом состоянии лошади, что тоже сказывается на пульсе.

In [15]:
pulse_ds = horses_df['pulse'].fillna(horses_df.groupby(['Age', 'surgery?', 'pain'])['pulse'].transform('median'))
print(pulse_ds.mean())
print(pulse_ds.median())
print(pulse_ds.mode()[0])

71.91438356164383
64.0
48.0

In [16]:
# Столбец 'pulse'.
horses_df_filled['pulse'] = horses_df_filled['pulse'].fillna(horses_df_filled.groupby(['Age', 'surgery?', 'pain'])['pulse'].transform('median'))

# # Проверка.
# print(horses_df_filled['pulse'].isnull().sum())

Столбец 'respiratory rate' заполняем сначала по группировке по пульсу, оставшиеся значения дополняем медианой искомого столбца.

In [17]:
resp_rate_ds = horses_df['respiratory rate'].fillna(horses_df.groupby(['pulse'])['respiratory rate'].transform('median')).fillna(horses_df['respiratory rate'].median())
print(resp_rate_ds.isnull().sum())
print(resp_rate_ds.mean())
print(resp_rate_ds.median())
print(resp_rate_ds.mode()[0])

0
29.976666666666667
24.5
20.0

In [18]:
# Столбец 'respiratory rate'.
horses_df_filled['respiratory rate'] = horses_df_filled['respiratory rate'].fillna(horses_df_filled.groupby(['pulse'])['respiratory rate'].transform('median')).fillna(horses_df_filled['respiratory rate'].median())

# # # Проверка.
# print(horses_df_filled['respiratory rate'].isnull().sum())

### Итого получаем:

In [19]:
# Проверим количество пустых ячеек.
horses_df_filled.isnull().sum()

surgery?                      0
Age                           0
rectal temperature            0
pulse                         0
respiratory rate              0
temperature of extremities    0
pain                          0
outcome                       0
dtype: int64

In [20]:
# Итого.
horses_df_filled

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,2.0,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,3.0,4.0,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,38.3,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,3.0,4.0,3.0